.cursor {
  position: fixed;
  width: 2.25rem;
  height: 2.25rem;
  border: 2px dashed rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  pointer-events: none;
  cursor: none;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: wave 5s linear infinite;
  background: transparent;
}

/* body, main {
  cursor: none;
} */

@keyframes wave{
  20%{
    border-radius: 45% 55% 40% 60% / 60% 58% 42% 40%;
  }
  40%{
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  }
  60%{
    border-radius: 45% 55% 40% 60% / 60% 58% 42% 40%;
  }
  80%{
    border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  }


}
